/* Font added this way in order to avoid using !important */
*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: roc-grotesk-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Product template */
/* #shopify-section-product-template {
} */

/* Home Page */
/* Slider */
/* .product-slider-section .product-slider .grid-view-item__title, .product-slider-section .product-slider .product-price__price {
    color: white;
  } */

/* General */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 768px) {
    .container {
      max-width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
  }
    @media (min-width: 1400px) {
    .container {
        max-width: 1410px;
    }
  }


/* Header */
#siteNav, #shopify-section-nav-mobile  {
}

#header {
    position: fixed!important;
    width: 100%;
}

main#PageContainer {
    padding-top: 54px;
}

/* Main nav menu selector */ #siteNav > li:nth-child(2) > a,
/* Mobile nav menu selector */ #shopify-section-nav-mobile .nav-mobile li.nav-mobile__child-link a[data-link-title="halloween"i], 
#shopify-section-nav-mobile .nav-mobile li.nav-mobile__grandchild-link a[data-link-title="halloween"i] {
    color: #FF9800;
}

#siteNav > li:nth-child(2) > a:first-child{
    animation: blink 2s infinite linear;
}

#siteNav > li:nth-child(2) > a:first-child:hover{
    animation: none;
}

/* Main nav menu selector */ #siteNav > li:nth-child(2) > a {
    font-weight: bold;
    animation: blink 2.5s infinite linear;
    border-radius: 50%;
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}

.megamenu1-list-item {
    display: flex;
}

.megamenu1-image-container {
    margin-right: 15px;
}

.megamenu1-image-container img {
    max-height: 525px;
    width: auto;
}