/* Main nav menu selector */ #siteNav > li:nth-child(2) > a,
/* Mobile nav menu selector */ #shopify-section-nav-mobile .nav-mobile a[href="/collections/all-halloween"] {
    color: #FF9800;
}

/* Main nav menu selector */ #siteNav > li:nth-child(2) > a {
    font-weight: bold;
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% {transform: scale(1.05); }
    100% { transform: scale(1); }
}

.megamenu1-list-item {
    display: flex;
}

.megamenu1-image-container {
    margin-right: 15px;
}

.megamenu1-image-container img {
    max-height: 300px;
    width: auto;
}