/* Main nav menu selector */ #siteNav > li:nth-child(2) > a,
/* Mobile nav menu selector */ #shopify-section-nav-mobile .nav-mobile li.nav-mobile__child-link a[data-link-title="halloween"i], 
#shopify-section-nav-mobile .nav-mobile li.nav-mobile__grandchild-link a[data-link-title="halloween"i] {
    color: #FF9800;
}

#siteNav > li:nth-child(2) > a:first-child{
    animation: blink 2s infinite linear;
}

#siteNav > li:nth-child(2) > a:first-child:hover{
    animation: none;
}

/* Main nav menu selector */ #siteNav > li:nth-child(2) > a {
    font-weight: bold;
    animation: blink 2.5s infinite linear;
    border-radius: 50%;
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}

.megamenu1-list-item {
    display: flex;
}

.megamenu1-image-container {
    margin-right: 15px;
}

.megamenu1-image-container img {
    max-height: 525px;
    width: auto;
}