/* ------------------------------------------------------------ *\
  Mobile Nav
\* ------------------------------------------------------------ */

.nav-mobile {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  max-width: 400px;
  width: 90vw;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
  z-index: 99;
  transform: translateX(-500%);
  transition: transform 0.2s;
  pointer-events: none;
}

.nav-mobile.is-open {
  transform: translateX(0);
  pointer-events: auto;
}

.nav-mobile.grandchild-open {
  max-height: 100%;
  overflow-y: hidden;
}

.nav-mobile.is-open + .nav-mobile-close {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.nav-mobile a {
  color: inherit;
}

.nav-mobile__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav-mobile__links-lvl-3 {
  text-align: left;
}

.nav-mobile__parent-link {
  text-align: center;
  font-size: 22px;
  border: 2px solid #333;
}

.nav-mobile__parent-link > a {
  display: block;
  padding: 20px 20px;
}

.nav-mobile__parent-link + .nav-mobile__parent-link {
  border-left: none;
}

.nav-mobile__parent-link.is-active > a {
  color: #e780ef;
}

.nav-mobile__parent-link.is-active .nav-mobile__lvl-2 {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.nav-mobile__lvl-2 {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.nav-mobile__child-link:first-child,
.nav-mobile__grandchild-link:first-child {
  margin-top: 10px;
}

.nav-mobile__child-link,
.nav-mobile__grandchild-link {
  background-color: transparent;
}

.nav-mobile__child-link a,
.nav-mobile__grandchild-link a {
  display: block;
  padding: 12px 20px;
}

.nav-mobile__child-link > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.nav-mobile__child-link.is-open .nav-mobile__lvl-3 {
  transform: translateX(0);
}

.nav-mobile__lvl-3 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 90vw;
  max-width: 400px;
  height: 100%;
  z-index: 999;
  overflow-y: auto;
  background: #000;
  transform: translateX(200%);
  transition: transform 0.2s;
}

.nav-mobile__lvl-3 h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 26px;
  padding: 20px;
  margin: 0;
  font-family: Oswald, Arial, Tahoma, Verdana, sans-serif;
  position: relative;
}

.nav-mobile__lvl-3 h2 span:not(.nav-mobile__back) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.nav-mobile__back {
  padding: 5px;
}

.nav-mobile__back i {
  pointer-events: none;
}

.nav-mobile-close {
  position: relative;
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: 10vw;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.nav-mobile-close span {
  color: currentColor;
}

.nav-mobile-close::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
  display: block;
  background-color: transparent;
}
